<!-- testimonial-1-area-start -->
<div class="testimonial-1-area pt-120 pb-200 gray-bg">
    <div class="container">
        <div class="section-title text-center" style="background-image:url(assets/img/logo/section.png)">
            <h4>Phản hồi</h4>
            <h2>Khách hàng nói gì?</h2>
        </div>
    </div>
</div>
<!-- testimonial-1-area-end -->
<!-- testimonial-area-start -->
<div class="testimonial-area">
    <div class="container">
        <div class="row">
            <div class="testimonial-active owl-carousel">
                <div class="col-md-12">
                    <div class="testimonial-wrapper mb-30">
                        <div class="testimonial-img text-center">
                            <img src="assets/img/testimonial/1.jpg" alt="" />
                        </div>
                        <div class="testimonial-text text-center">
                            <p>Lorem ipsum dolor sit amet, conse cteturlol adipisicing elit, sed do eiusmod tem porlop incididunt ut labore et dolore. </p>
                            <span>Handy Man</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="testimonial-wrapper mb-30">
                        <div class="testimonial-img text-center">
                            <img src="assets/img/testimonial/2.jpg" alt="" />
                        </div>
                        <div class="testimonial-text text-center">
                            <p>Lorem ipsum dolor sit amet, conse cteturlol adipisicing elit, sed do eiusmod tem porlop incididunt ut labore et dolore. </p>
                            <span>Maksud Reza</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="testimonial-wrapper mb-30">
                        <div class="testimonial-img text-center">
                            <img src="assets/img/testimonial/3.jpg" alt="" />
                        </div>
                        <div class="testimonial-text text-center">
                            <p>Lorem ipsum dolor sit amet, conse cteturlol adipisicing elit, sed do eiusmod tem porlop incididunt ut labore et dolore. </p>
                            <span>Miller Ko</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="testimonial-wrapper">
                        <div class="testimonial-img text-center">
                            <img src="assets/img/testimonial/4.jpg" alt="" />
                        </div>
                        <div class="testimonial-text text-center">
                            <p>Lorem ipsum dolor sit amet, conse cteturlol adipisicing elit, sed do eiusmod tem porlop incididunt ut labore et dolore. </p>
                            <span>Maksud Reza</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="testimonial-wrapper">
                        <div class="testimonial-img text-center">
                            <img src="assets/img/testimonial/1.jpg" alt="" />
                        </div>
                        <div class="testimonial-text text-center">
                            <p>Lorem ipsum dolor sit amet, conse cteturlol adipisicing elit, sed do eiusmod tem porlop incididunt ut labore et dolore. </p>
                            <span>Jon Frank</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="testimonial-wrapper">
                        <div class="testimonial-img text-center">
                            <img src="assets/img/testimonial/2.jpg" alt="" />
                        </div>
                        <div class="testimonial-text text-center">
                            <p>Lorem ipsum dolor sit amet, conse cteturlol adipisicing elit, sed do eiusmod tem porlop incididunt ut labore et dolore. </p>
                            <span>Maksud Reza</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="testimonial-wrapper">
                        <div class="testimonial-img text-center">
                            <img src="assets/img/testimonial/3.jpg" alt="" />
                        </div>
                        <div class="testimonial-text text-center">
                            <p>Lorem ipsum dolor sit amet, conse cteturlol adipisicing elit, sed do eiusmod tem porlop incididunt ut labore et dolore. </p>
                            <span>Jon Doe</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- testimonial-area-end -->
