<div id="shopify-section-footer" class="shopify-section">
    <section class="footer-top-area section-ptb">
        <div class="container">
            <div class="row footer-list" id="ft-parent">
                <div class="col-lg-3 col-md-12 col-xs-12 footer-info">

                    <div class="logo">
                        <a href="/" class="theme-logo">
                            <img class="img-fluid lazyload" src="https://cdn.shopify.com/s/files/1/0430/9093/5965/files/footer-logo.png?v=1594476459" alt="petymart">
                        </a>
                    </div>
                    <div class="footer-contact">
                        <a data-toggle="collapse" href="#collapse-Contact-Us" class="ft-title">
                            <span>Contact Us</span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <div class="ftsublink-li collapse" id="collapse-Contact-Us" data-parent="#ft-parent">
                            <p><i class="ti-location-pin"></i>@Html.Raw(Model.address)</p>
                            <a href="tel:(+33) 111 232 98"><i class="ti-mobile"></i>@Model.support.Phone</a>
                            <a href="mailto:demo@demo.com"><i class="ti-email"></i>@Model.support.Email</a>
                        </div>
                    </div>

                </div>
                @for (int i = 0; i < Model.menuBottom.Count; i++)
                {
                    @Html.Partial("../Partial/_MenuBottomList", (MyWeb.Models.MenuModel)Model.menuBottom[i])
                }

                <div class="col-lg-3 col-md-12 ftlink-li news-letter">
                    <div class="subscribe-block">
                        <div class="subscribe-title">

                            <h2 class="ft-title">
                                Newslatter</h2>


                                <p class="">and receive $20 coupon for first shopping</p>

                        </div>
                        <div class="subscribe-content">
                            <form method="post" action="/contact#contact_form" id="contact_form" accept-charset="UTF-8" class="contact-form">
                                <input type="hidden" name="form_type" value="customer" /><input type="hidden" name="utf8" value="✓" />


                                <input type="hidden" name="contact[tags]" value="newsletter">
                                <div class="subscribe-block">
                                    <input type="email" name="contact[email]" class="email form-control mail text-medium" id="E-mail" value="" placeholder="Enter Your Email Address" autocapitalize="off">
                                    <button type="submit" class="newsletter-btn" name="commit" id="Subscribe"><i class="fa fa-arrow-right"></i></button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <style>
        .footer-top-area {
            background-color: #1574d0;
        }
    </style>
</div>
<div id="shopify-section-copyright" class="shopify-section">
    <footer class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col">
                    <ul class="ft-bottom">
                        <li class="copy-right">
                            <p>
                                <span>Copyright</span>
                                <i class="fa fa-copyright"></i>
                                <span>2021 - HamsterPlanet™</span>
                            </p>
                        </li>

                        <li class="payment-img">
                            <div class="footer-icon">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-vimeo"></i></a>
                                <a href="#"><i class="fa fa-tumblr"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <a href="javascript:void(0)" id="top" class="scroll">
        <i class="fa fa-angle-double-up"></i>
    </a>


    <style>
        .footer-bottom-area {
            padding-top: 0px;
            padding-bottom: 0px;
            background-color: #1574d0;
        }
    </style>
</div>
