@using Libs.Utils
<!-- header-area start -->
<div class="header-area">
    <div class="header-main-area">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="header-main">
                        <button class="navbar-toggler" type="button">
                            <span class="line"></span>
                        </button>
                        <div class="header-element left-block-box">
                            <div class="contact-block">
                                <div class="contact-inner">
                                    <div class="contact-block">
                                        <i class="ti-email"></i>
                                        <a href="mailto:support@domain.com">support@domain.com</a>
                                    </div>
                                </div>
                                <div class="contact-inner">
                                    <div class="contact-block">
                                        <i class="ti-mobile"></i>
                                        <a href="tel:(+33) 111 232 98">(+33) 111 232 98</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="header-element logo">
                            <a href="/" class="theme-logo">
                                <img src="./banner/logo.jpg?v=1594445021" alt="petymart">
                            </a>
                        </div>
                        <div class="header-element right-block-box">
                            <ul class="shop-element">
                                <li class="search-wrap">
                                    <!-- /snippets/search-bar.liquid -->
                                    <a href="#search-wrap" class="search-wrap collapsed" data-toggle="collapse" aria-expanded="false">
                                        <i class="ti-search"></i>
                                    </a>
                                    <div class="wrap-search collapse" id="search-wrap">
                                        <form action="/search" method="get" class="search-bar" role="search">
                                            <div class="form-search">
                                                <input type="hidden" name="type" value="product">
                                                <input type="hidden" name="options[unavailable_products]" value="show">
                                                <input type="hidden" name="options[prefix]" value="last">
                                                <input type="search" name="q" value="" placeholder="Search here" id="search" class="input-text" aria-label="Search our store">
                                                <button class="search-btn" type="submit"><i class="ti-search"></i></button>
                                            </div>
                                        </form>
                                    </div>

                                </li>
                                <li class="user-wrap">
                                    <div class="user-wrap">
                                        <div class="acc-desk">
                                            <a class="acc-ti" data-toggle="collapse" href="#account">
                                                <span class="acc-signin">
                                                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 612 612" style="enable-background:new 0 0 612 612;" xml:space="preserve"><g><path d="M612,306C612,137.4,474.6,0,306,0S0,137.4,0,306c0,92.9,42.1,176.4,107.7,232.6c0.8,0.8,1.6,1.6,3.1,2.3 c53.1,44.5,121,71.1,196,71.1c73.4,0,141.3-26.5,194.4-69.5c3.1-0.8,5.5-3.1,7-5.5C571.5,480.1,612,398.1,612,306z M28.1,306 C28.1,153,153,28.1,306,28.1S584,153,584,306c0,75-29.6,142.8-78.1,192.8c-7.8-36.7-31.2-99.2-103.1-139.7 c16.4-20.3,25.7-46.8,25.7-75c0-67.1-54.6-121.8-121.8-121.8S185,217.1,185,284.2c0,28.1,10.1,53.8,25.7,75 c-72.5,40.5-95.9,103-102.9,139.7C58.5,449.7,28.1,381,28.1,306z M212.4,284.9c0-51.5,42.1-93.7,93.7-93.7s93.7,42.1,93.7,93.7 s-42.1,93.7-93.7,93.7S212.4,336.5,212.4,284.9z M132.7,523c1.6-22.6,14-99.2,98.4-142.1c21.1,16.4,46.8,25.7,75,25.7 s54.6-10.1,75.8-26.5c83.6,42.9,96.8,117.9,99.2,142.1c-47.6,38.2-108.5,61.7-174.1,61.7C240.5,584,180.3,561.3,132.7,523z"></path></g></svg>
                                                </span>
                                            </a>

                                        </div>
                                    </div>
                                </li>
                                <li class="cart-wrap">


                                    <div class="shopping-widget">
                                        <div class="shopping-cart">
                                            <a class="cart-count" data-toggle="collapse" href="#cart">
                                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 486.569 486.569" style="enable-background:new 0 0 486.569 486.569;" xml:space="preserve"><g><path d="M146.069,320.369h268.1c30.4,0,55.2-24.8,55.2-55.2v-112.8c0-0.1,0-0.3,0-0.4c0-0.3,0-0.5,0-0.8c0-0.2,0-0.4-0.1-0.6 c0-0.2-0.1-0.5-0.1-0.7s-0.1-0.4-0.1-0.6c-0.1-0.2-0.1-0.4-0.2-0.7c-0.1-0.2-0.1-0.4-0.2-0.6c-0.1-0.2-0.1-0.4-0.2-0.6 c-0.1-0.2-0.2-0.4-0.3-0.7c-0.1-0.2-0.2-0.4-0.3-0.5c-0.1-0.2-0.2-0.4-0.3-0.6c-0.1-0.2-0.2-0.3-0.3-0.5c-0.1-0.2-0.3-0.4-0.4-0.6 c-0.1-0.2-0.2-0.3-0.4-0.5c-0.1-0.2-0.3-0.3-0.4-0.5s-0.3-0.3-0.4-0.5s-0.3-0.3-0.4-0.4c-0.2-0.2-0.3-0.3-0.5-0.5 c-0.2-0.1-0.3-0.3-0.5-0.4c-0.2-0.1-0.4-0.3-0.6-0.4c-0.2-0.1-0.3-0.2-0.5-0.3s-0.4-0.2-0.6-0.4c-0.2-0.1-0.4-0.2-0.6-0.3 s-0.4-0.2-0.6-0.3s-0.4-0.2-0.6-0.3s-0.4-0.1-0.6-0.2c-0.2-0.1-0.5-0.2-0.7-0.2s-0.4-0.1-0.5-0.1c-0.3-0.1-0.5-0.1-0.8-0.1 c-0.1,0-0.2-0.1-0.4-0.1l-339.8-46.9v-47.4c0-0.5,0-1-0.1-1.4c0-0.1,0-0.2-0.1-0.4c0-0.3-0.1-0.6-0.1-0.9c-0.1-0.3-0.1-0.5-0.2-0.8 c0-0.2-0.1-0.3-0.1-0.5c-0.1-0.3-0.2-0.6-0.3-0.9c0-0.1-0.1-0.3-0.1-0.4c-0.1-0.3-0.2-0.5-0.4-0.8c-0.1-0.1-0.1-0.3-0.2-0.4 c-0.1-0.2-0.2-0.4-0.4-0.6c-0.1-0.2-0.2-0.3-0.3-0.5s-0.2-0.3-0.3-0.5s-0.3-0.4-0.4-0.6c-0.1-0.1-0.2-0.2-0.3-0.3 c-0.2-0.2-0.4-0.4-0.6-0.6c-0.1-0.1-0.2-0.2-0.3-0.3c-0.2-0.2-0.4-0.4-0.7-0.6c-0.1-0.1-0.3-0.2-0.4-0.3c-0.2-0.2-0.4-0.3-0.6-0.5 c-0.3-0.2-0.6-0.4-0.8-0.5c-0.1-0.1-0.2-0.1-0.3-0.2c-0.4-0.2-0.9-0.4-1.3-0.6l-73.7-31c-6.9-2.9-14.8,0.3-17.7,7.2 s0.3,14.8,7.2,17.7l65.4,27.6v61.2v9.7v74.4v66.5v84c0,28,21,51.2,48.1,54.7c-4.9,8.2-7.8,17.8-7.8,28c0,30.1,24.5,54.5,54.5,54.5 s54.5-24.5,54.5-54.5c0-10-2.7-19.5-7.5-27.5h121.4c-4.8,8.1-7.5,17.5-7.5,27.5c0,30.1,24.5,54.5,54.5,54.5s54.5-24.5,54.5-54.5 s-24.5-54.5-54.5-54.5h-255c-15.6,0-28.2-12.7-28.2-28.2v-36.6C126.069,317.569,135.769,320.369,146.069,320.369z M213.269,431.969 c0,15.2-12.4,27.5-27.5,27.5s-27.5-12.4-27.5-27.5s12.4-27.5,27.5-27.5S213.269,416.769,213.269,431.969z M428.669,431.969 c0,15.2-12.4,27.5-27.5,27.5s-27.5-12.4-27.5-27.5s12.4-27.5,27.5-27.5S428.669,416.769,428.669,431.969z M414.169,293.369h-268.1 c-15.6,0-28.2-12.7-28.2-28.2v-66.5v-74.4v-5l324.5,44.7v101.1C442.369,280.769,429.669,293.369,414.169,293.369z"></path></g></svg>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
