
@using Libs.Utils
@if (Model.Count > 0)
{
    <!-- recent-work-area-start -->
    <div id="shopify-section-1594545156116" class="shopify-section">
        <!-- Browuse categoryies -->
        <section class="slider-category">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="section-title">
                            <h2 class="heading-home">Sản phẩm hot</h2>
                        </div>
                        <div class="cat-slider owl-carousel owl-theme" id="category-slider">
                            @foreach (MyWeb.Entities.Product product in Model)
                            {
                                <div class="item">
                                    <div class="category-wrap">
                                        <div class="category-image">
                                            <a class="cat-img" href="@StringClass.GeneralDetailUrl(Consts.SAN_PHAM, product.GroupName, product.Id.ToString(), product.Name)" title="@product.Name">
                                                <img class="lazyload" src="data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20360%20459%22%3E%3C/svg%3E" data-src="@StringClass.OriginalImage(product.Image1)" alt="@product.Name" />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script type="text/javascript">
            $('#category-slider').owlCarousel({
                loop: false,
                rewind: true,
                dots: false,
                nav: false, rtl: true, autoplay: true,
                sautoplayTimeout: 5000,
                autoplayHoverPause: true,
                responsive: {
                    0: {
                        items: 2,
                        margin: 15
                    },
                    479: {
                        items: 2,
                        margin: 15
                    },
                    768: {
                        items: 3,
                        margin: 20
                    },
                    979: {
                        items: 4,
                        margin: 20
                    },
                    1199: {
                        items: 5,
                        margin: 20
                    }
                }
            });
        </script>

        <style>
            .slider-category {
                background-color: #fff;
                padding-top: 60px;
                padding-bottom: 0px;
            }

            @@media (max-width: 767px) {
                .slider-category {
                    padding-top: 40px;
                    padding-bottom: 0px;
                }
            }
        </style>
    </div>
    <!-- recent-work-area-end -->
}

